.container {
    width: 100%;
}

.underline {
    border-bottom-width: 0.3px;
    border-bottom-style: solid;
}

.topline {
    border-top-width: 0.3px;
    border-top-style: solid;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    padding: 1%;
}