img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.lead {
    border-bottom-style: dotted;
    border-width: 1px;
}

.main {
    margin: 0;
}

.row {
    padding-bottom: 0;
}

nav ul a {
    color: black !important; 
}

.brand-logo {
    color: black !important;
}