.container {
  width: 90%;
}

footer {
  position: fixed !important;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  height: 50px;
  box-shadow: 0px 2px 15px 5px #aaa;
}

a:hover {
  opacity: 0.8;
}

main {
  padding-bottom: 50px;
}

h5 {
  border-left: 8px solid #e96;
  padding-left: 10px;
}