.container {
    width: 100%
}

.home{
    grid-area: home;
}
.work{
    grid-area: work;

}
.profile{
    grid-area: profile;

}
.contact{
    grid-area: contact;

}

.menu {
    display: grid;
    grid-template-areas: "home work profile contact";
    grid-template-columns: 10% 10% 10% 10%;
    grid-template-rows: 15px;
    justify-content: center;
}

.line {
    height: 5px;
}

.line2 {
    height: 18px;
}

.menu-container {
    border-top-style: dotted;
    border-top-width: 0.8px;
    border-bottom-style: dotted;
    border-bottom-width: 0.8px;
}

.row {
    margin-bottom: 0;
}